:root {
  --color-primary: #34ace0;
  --color-primary-dark: #104f6b;
  --color-primary-dark-2: #1c86b5;
  --color-primary-light: #7ecaeb;
  --color-secondary: #ed3d57;
  --color-secondary-dark: #660917;
  --color-secondary-dark-2: #850c1e;
  --color-secondary-light: #f7aab5;
  --color-secondary-light-2: #f37b8d;
  --color-grey-light: #ccd2d7;
  --color-grey-light-2: #f2f4f5;
  --color-grey-light-3: #dfe3e6;
  --color-grey-dark: #5f6c78;
  --color-grey-dark-2: #778693;
  --color-white: #fff;
  --color-black: #000;
  --color-black-light: #110D0D;
  --color-green: #5ecc00;
  --color-red: #c7312a;
  --color-red-light: #d9514b;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,0.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,0.06);
  --h2-width: 20rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 87.5%; }
  @media only screen and (max-width: 93.75em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 25%; } }

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-black);
  font-weight: 300;
  line-height: 1.6;
  background-image: linear-gradient(to bottom left, #ed3d57, #660917);
  padding: 8rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 68.75em) {
    body {
      padding: 0; } }

.container {
  box-shadow: var(--shadow-dark);
  min-width: 80vw;
  display: grid;
  grid-template-rows: 12rem 2fr 1fr 5rem;
  grid-template-columns: [costume-start] minmax(20rem, 1.5fr) [costume-end board-start] 4fr [board-end scores-start] minmax(20rem, 1.5fr) [scores-end]; }
  @media only screen and (max-width: 56.25em) {
    .container {
      grid-template-rows: 12rem min-content 3fr min-content 5rem;
      grid-template-columns: [board-start] 4fr [board-end scores-start] minmax(20rem, 1.5fr) [scores-end];
      width: 100%;
      height: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      grid-template-rows: 12rem min-content min-content 2fr 1fr 5rem;
      grid-template-columns: 1fr;
      width: 100%;
      height: 100%; } }

.header {
  grid-row: 1 / span 1;
  grid-column: 1 / -1;
  box-shadow: var(--shadow-light);
  background-image: linear-gradient(to right bottom, var(--color-grey-light), var(--color-grey-light-3));
  display: flex;
  align-items: center;
  justify-content: center; }

.footer {
  grid-row: 4 / span 1;
  grid-column: 1 / -1;
  background-color: var(--color-black-light);
  color: var(--color-grey-light);
  font-size: 1.5rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      grid-row: 5 / span 1; } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      grid-row: 6 / span 1; } }

.btn-submit {
  height: 5rem;
  width: 5rem;
  border-radius: 100px;
  border: none;
  background-color: var(--color-green);
  box-shadow: var(--shadow-dark);
  transition: all 0.2s;
  display: block;
  margin-top: 1.5rem;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center; }
  .btn-submit__icon {
    height: 3rem;
    width: 3rem;
    fill: var(--color-white); }
  .btn-submit:hover, .btn-submit:active {
    cursor: pointer;
    box-shadow: var(--shadow-dark);
    transform: translateY(-0.5rem); }

.btn-new,
.btn-hold {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 2.5rem;
  color: var(--color-black-light);
  transition: all 0.2s;
  display: block;
  padding: 0.5rem; }
  .btn-new:hover, .btn-new:active, .btn-new:focus,
  .btn-hold:hover,
  .btn-hold:active,
  .btn-hold:focus {
    outline: none;
    cursor: pointer;
    transform: translateY(0.5rem); }

.logo {
  height: 9rem;
  width: 9rem;
  fill: var(--color-black-light);
  padding-right: 1.5rem; }

.h1-heading {
  color: var(--color-black-light);
  font-size: 7rem;
  font-weight: 700; }

.h2-heading {
  position: absolute;
  top: -6rem;
  right: calc(50% - var(--h2-width)/2);
  animation-name: fadeUp;
  animation-duration: 0.2s;
  white-space: nowrap;
  text-transform: uppercase;
  color: var(--color-white);
  font-size: 3rem;
  font-weight: 700; }

@keyframes fadeUp {
  0% {
    top: 0;
    opacity: 0; }
  100% {
    top: -6rem;
    opacity: 1; } }

.h3-heading {
  text-transform: uppercase;
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 300;
  padding: 0.8rem 1.6rem;
  margin-bottom: 0.5rem; }

.costume {
  background-color: var(--color-primary);
  grid-row: 2 / 4;
  grid-column: 1 / span 1;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .costume {
      grid-row: 2 / span 1;
      grid-column: 1 / -1; } }
  .costume__list {
    list-style: none;
    width: 100%; }
  .costume__link:link, .costume__link:visited {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
    color: var(--color-white); }
  .costume__link:hover, .costume__link:active {
    background-color: var(--color-primary-dark-2); }
  .costume__dropIcon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-white); }
  .costume__personalize, .costume__random {
    background-color: var(--color-primary-dark-2);
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .costume__wrapper--1:not(:last-child), .costume__wrapper--2:not(:last-child), .costume__wrapper--3:not(:last-child), .costume__wrapper--4:not(:last-child), .costume__wrapper--5:not(:last-child), .costume__wrapper--6:not(:last-child), .costume__wrapper--7:not(:last-child) {
    margin-right: 1rem;
    margin-bottom: 1rem; }
  .costume__thumbnails {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap; }
    .costume__thumbnails--1, .costume__thumbnails--2, .costume__thumbnails--3, .costume__thumbnails--4, .costume__thumbnails--5, .costume__thumbnails--6, .costume__thumbnails--7 {
      display: block;
      width: 5rem;
      height: 5rem;
      object-fit: cover; }

.input__field--num {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-family: inherit;
  background-color: transparent;
  width: 5rem;
  display: block;
  margin: 0 auto;
  padding: 0.8rem 0;
  border: none;
  border-bottom: 0.2rem solid var(--color-white);
  appearance: textfield;
  -moz-appearance: textfield;
  transition: all 0.2s; }
  .input__field--num:focus {
    outline: none;
    padding: 1rem 0;
    font-size: 2rem; }

.input__field--browse {
  font-size: 2rem;
  font-family: inherit; }

.board {
  padding: 2rem 3rem;
  grid-row: 2 / span 2;
  grid-column: 2 / span 1;
  background-image: linear-gradient(to bottom right, var(--color-primary-dark-2), var(--color-primary-dark));
  backface-visibility: hidden;
  transition: all 0.3s;
  display: grid;
  grid-template-rows: repeat(4, [card-col-start] 15vw [card-col-end]);
  grid-template-columns: repeat(auto-fit, [card-col-start] 10vw [card-col-end]);
  grid-gap: 1.5rem;
  justify-content: center;
  align-content: center; }
  @media only screen and (max-width: 56.25em) {
    .board {
      grid-row: 3 / span 1;
      grid-column: 1 / span 1;
      padding: 2rem 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .board {
      grid-row: 4 / span 1;
      padding: 3rem 4rem; } }
  @media only screen and (max-width: 93.75em) {
    .board {
      grid-template-rows: repeat(auto-fit, [card-col-start] 17vw [card-col-end]);
      grid-template-columns: repeat(auto-fit, [card-col-start] 12vw [card-col-end]); } }
  @media only screen and (max-width: 68.75em) {
    .board {
      grid-template-rows: repeat(auto-fit, [card-col-start] 19vw [card-col-end]);
      grid-template-columns: repeat(auto-fit, [card-col-start] 14vw [card-col-end]); } }
  @media only screen and (max-width: 56.25em) {
    .board {
      grid-template-rows: repeat(auto-fit, [card-col-start] 21vw [card-col-end]);
      grid-template-columns: repeat(auto-fit, [card-col-start] 16vw [card-col-end]); } }
  @media only screen and (max-width: 37.5em) {
    .board {
      grid-template-rows: repeat(auto-fit, [card-col-start] 23vw [card-col-end]);
      grid-template-columns: repeat(auto-fit, [card-col-start] 18vw [card-col-end]); } }

.card {
  box-shadow: var(--shadow-light);
  height: 100%;
  width: 100%;
  visibility: visible;
  opacity: 1;
  backface-visibility: hidden;
  transition: visibility 0s, opacity 0.5s, transform 0.2s ease-out;
  transition-delay: 0.8s;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr); }
  .card__side {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    justify-content: center; }
  .card__side--front {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    z-index: 2;
    background-image: linear-gradient(150deg, var(--color-white) 0%, var(--color-white) 25%, var(--color-secondary-dark-2) 25%, var(--color-secondary-dark-2) 35%, var(--color-white) 35%);
    background-size: cover;
    border-radius: 1.5rem;
    border: 0.5rem solid var(--color-white);
    box-shadow: var(--shadow-dark);
    transition: all 0.2s; }
  .card__side--back {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    border-radius: 1.5rem;
    background-image: linear-gradient(to right bottom, var(--color-red), var(--color-red-light));
    transform: rotateY(180deg);
    transition: all 0.2s; }
  .card__picture--1, .card__picture--2, .card__picture--3, .card__picture--4, .card__picture--5, .card__picture--6, .card__picture--0 {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .card__picture--gotcha {
    display: block;
    height: 10rem;
    width: 10rem;
    fill: var(--color-white);
    align-self: center; }
  .card:not(.card__flipped):hover .card__side--front {
    transform: translateY(-0.5rem);
    box-shadow: var(--shadow-light); }
  .card__flipped .card__side--front {
    transform: rotateY(-180deg); }
  .card__flipped .card__side--back {
    transform: rotateY(0);
    box-shadow: --shadow-dark; }
  .card__matched {
    visibility: hidden;
    opacity: 0; }
  .card__winner {
    transform: translateY(10rem);
    position: relative;
    height: 100%;
    width: 100%; }

.scores {
  grid-row: 2 / span 1;
  grid-column: 3 / -1;
  display: grid;
  grid-template-rows: 0.3fr repeat(4, 1fr);
  grid-template-columns: min-max(max-content, 1fr);
  background-color: var(--color-white); }
  @media only screen and (max-width: 56.25em) {
    .scores {
      grid-row: 3 / span 1;
      grid-column: 2 / -1; } }
  @media only screen and (max-width: 37.5em) {
    .scores {
      grid-row: 3 / span 1;
      grid-column: 1 / -1;
      display: grid;
      grid-template-rows: 0.3fr minmax(min-content, 1fr);
      grid-template-columns: min-max(max-content, 1fr) 1fr 1fr min-max(max-content, 1fr); } }
  .scores .btn-hold {
    grid-row: 3 / span 2;
    grid-column: 1 / 1;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .scores .btn-hold {
        grid-row: 2 / -1;
        grid-column: 2 / span 2; } }
  .scores .btn-new {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    background-color: var(--color-white); }
    @media only screen and (max-width: 37.5em) {
      .scores .btn-new {
        grid-row: 1 / span 1;
        grid-column: 2 / span 2; } }
  .scores__icon {
    height: 1.8rem;
    width: 1.8rem;
    fill: var(--color-red-light);
    margin-right: 0.5rem; }
  .scores__player {
    background-color: var(--color-grey-light-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .scores__player {
        padding: 1.5rem; } }
    .scores__player--0 {
      grid-row: 2 / span 2;
      grid-column: 1 / 1; }
      @media only screen and (max-width: 37.5em) {
        .scores__player--0 {
          grid-row: 2 / -1;
          grid-column: 1 / span 2; } }
    .scores__player--1 {
      grid-row: 4 / span 2;
      grid-column: 1 / 1; }
      @media only screen and (max-width: 37.5em) {
        .scores__player--1 {
          grid-row: 2 / -1;
          grid-column: 3 / span 2; } }
    .scores__player-name {
      text-transform: uppercase;
      font-size: 3.5rem;
      font-weight: 100; }
    .scores__player-score {
      font-size: 4rem;
      font-weight: 100;
      color: var(--color-red-light); }
    .scores__player-current-box {
      background-color: var(--color-red-light);
      font-weight: 100;
      padding: 1rem;
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .scores__player-current-label {
      text-transform: uppercase;
      color: var(--color-black-light);
      font-size: 2rem; }
    .scores__player-current-score {
      color: var(--color-white);
      font-size: 2rem; }
    .scores__player--active {
      background-color: var(--color-grey-light-3); }
      .scores__player--active::before {
        content: '';
        height: 1.1rem;
        width: 1.1rem;
        border-radius: 100px;
        background-color: var(--color-red-light);
        margin-bottom: 1rem; }

.share {
  grid-row: 3 / span 1;
  grid-column: 3 / -1;
  background-image: linear-gradient(to bottom left, var(--color-primary-dark-2), var(--color-primary-dark));
  padding: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .share {
      grid-row: 4 / span 1;
      grid-column: 1 / -1; } }
  @media only screen and (max-width: 37.5em) {
    .share {
      grid-row: 5 / span 1; } }
  .share__form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2rem; }
  .share__field {
    position: relative; }
  .share__label {
    position: absolute;
    top: 1rem;
    font-size: 2rem;
    left: 0;
    color: var(--color-primary-light);
    pointer-events: none;
    transition: 0.5s; }
  .share__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-primary-light); }
    .share__icon:not(:last-child) {
      margin-right: 0.5rem; }
  .share__social {
    padding: 1rem 2rem; }

.input__field--e-mail,
.input__field--text {
  padding: 1rem 0;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  width: 100%;
  box-shadow: none;
  outline: none;
  border: none;
  background-color: transparent;
  display: block;
  border-bottom: 0.15rem solid var(--color-primary-light); }
  @media only screen and (max-width: 56.25em) {
    .input__field--e-mail,
    .input__field--text {
      width: 50%; } }
  .input__field--e-mail:focus ~ .share__label,
  .input__field--e-mail:valid ~ .share__label,
  .input__field--text:focus ~ .share__label,
  .input__field--text:valid ~ .share__label {
    top: -1.2rem;
    left: 0;
    color: var(--color-white);
    font-size: 2rem;
    font-weight: 300; }
  .input__field--e-mail:focus, .input__field--e-mail:valid,
  .input__field--text:focus,
  .input__field--text:valid {
    border-bottom: 0.2rem solid var(--color-white); }
